Django==5.1.4
pillow==10.2.0
mysql-connector-python==8.0.33
mysqlclient==2.2.5
djangorestframework==3.14.0
markdown
django-filter
django-phonenumbers
django-phonenumber-field
drf-yasg
django-import-export
speechrecognition
pyaudio
pyttsx3
geopy
#Installation Procedure
#pip install -r requirements.txt
#python manage.py runserver
