{% extends "home/base.html" %}
{% block content %}
{% load static %}
<table>
    <tr>
        <th>Header</th> 
    </tr>
    {% for item in items %}
        <tr>
            <td><img src="{% static 'images\happy.webp' %}" alt="..."width="100px" height="100px"></td>
            <td>{{ item.0 }}</td> {# item.0 corresponds to val #}
            <td> * {{ item.1 }}</td> {# item.1 corresponds to id #}
            <td><span> = {{ item.2 }}</span></td> {# item.2 corresponds to status #}
        </tr>
    {% endfor %}
</table>
{% endblock content %}
